<div class="container-fluid py-3 px-5 shadow">
  <div class="row">
    <div class="col-md-12 justify-content-center d-flex">
      <div class="d-flex gap-4 justify-content-between w-100">
        <strong class="mb-1">Total booked Seats:</strong>
        <p>{{ getTotalBookedSeats() }}</p>
      </div>
    </div>
    <div class="col-md-12 justify-content-center d-flex">
      <div class="d-flex gap-4 justify-content-between w-100">
        <strong class="mb-1">Total booked Tours:</strong>
        <p>{{ getTotalBookedTours() }}</p>
      </div>
    </div>
    <div class="col-md-12 justify-content-center d-flex">
      <div class="d-flex gap-4 justify-content-between w-100">
        <strong class="d-flex gap-4" class="mb-1">Total price:</strong>
        <p>{{ adjustToCurrency(getTotalPrice()) | currency: getCurrency() }}</p>
      </div>
    </div>
  </div>
</div>
