<app-menu></app-menu>

<div class="container-fluid p-5">

  <div class="row">

    <div class="col-md-6 col-lg-8 order-2 order-md-1">

      <div class="row" *ngFor="let tour of (getTours() | filteredTours: this.toursFilterService.toursFilter)">

        <div class="mt-3 col-8 offset-2 col-md-12 offset-md-0 col-lg-8 offset-lg-2 p-0 rounded" [ngClass]="getTourPriceIndication(tour)">

          <app-tour [tour]="tour" (tourDeleted)="deleteTour(tour)"></app-tour>

        </div>
      </div>

    </div>

    <div class="col-md-6  col-lg-4 order-1 order-md-2">

      <div class="row">
        <div class="">
          <app-tours-filter></app-tours-filter>
        </div>
      </div>

    </div>
  </div>
</div>
