<app-menu></app-menu>


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
        <li class="nav-item dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="currencyChoiceDropdown"
            data-bs-toggle="dropdown">
            {{ this.currencyCode }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="currencyDropdown">
            <li><a class="dropdown-item" href="#" (click)="onCurrencyChange('USD')">USD ($)</a></li>
            <li><a class="dropdown-item" href="#" (click)="onCurrencyChange('EUR')">EUR (€)</a></li>
            <li><a class="dropdown-item" href="#" (click)="onCurrencyChange('GBP')">GBP (£)</a></li>
            <li><a class="dropdown-item" href="#" (click)="onCurrencyChange('PLN')">PLN</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-light" type="button" id="shoppingHistoryDropdown" data-bs-toggle="modal"
              data-bs-target="#historyModal">
              Shopping History
            </button>

            <div class="modal fade" id="historyModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">History</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                    <app-history [history]="this.history" [currencyCode]="this.currencyCode"></app-history>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav> -->






<div class="container-fluid p-5">

  <div class="row">

    <div class="col-md-8">

      <div class="row" *ngFor="let tour of (getTours() | filteredTours: this.toursFilterService.toursFilter)">

        <div class="col-md-8 offset-md-2 mb-4 p-2" [ngStyle]="getTourPriceIndication(tour)">

          <app-tour [tour]="tour"></app-tour>

        </div>
      </div>

    </div>

    <div class="col-md-4">

      <app-tours-filter></app-tours-filter>

    </div>
  </div>
</div>
