.tour-almost-sold-out {
  background: linear-gradient( rgb(255, 98, 87), white);
}


.tour__soldBadge {
  top: 10px;
  right: 10px;
}

.tour__tiles {
  margin: 0;
  padding: 0;
}

.tour__tiles .tour__tilesTile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour__tiles .tour__tilesTile i {
  font-size: 2rem;
  color: var(--custom);
}
