<div class="shadow p-3 bg-white rounded position-relative" [ngClass]="getTourSeatsIndication()">

  <div class="d-flex align-items-center justify-content-center rounded-circle w-100">
    <img [src]="tour.image" class="rounded-circle w-50" style="aspect-ratio: 1 / 1; object-fit: cover;" alt="Tour Image">
  </div>

  <hr />

  <div class="card-body">
    <h5 class="card-title text-center">{{ tour.name | uppercase }}</h5>
    <p class="card-text fw-light">{{ tour.description }}</p>


    <div class="d-flex gap-5 justify-content-center align-items-center">
      <div class="btn-group d-flex gap-5 justify-content-center" role="group">
        <app-booking [tour]="tour"></app-booking>
      </div>

      <div class="d-flex gap-3 flex-column align-items-center">
        <div class="fw-light">
          {{averageRating() | number: '1.2-2'}} ({{numberOfRatings()}} {{numberOfRatings() === 1 ? 'rating' : 'ratings'}})
        </div>

        <div class="progress" style="min-width: 170px; height: 10px">
          <div class="progress-bar bg-warning" role="progressbar" [style.width]="averageRating() * 20 + '%'"></div>
        </div>
      </div>

      <!-- <div>
        <app-rating (rated)="rateTour($event)" [current]="currentRating()" [average]="averageRating()"
          [numberOfRatings]="numberOfRatings()"></app-rating>
      </div> -->
    </div>

    <div class="tour__tiles mt-3 mb-4 d-flex gap-3 justify-content-around flex-wrap">

      <div>
        <div class="tour__tilesTile">
          <i class="bi bi-airplane-fill"></i>
          <span class="fw-light">{{ tour.targetCountry | uppercase }}</span>
        </div>

        <div class="tour__tilesTile">
          <i class="bi bi-calendar-event"></i>
          <span class="fw-light">{{ tour.startDate }} - {{ tour.endDate }}</span>
        </div>
      </div>
      <div>
        <div class="tour__tilesTile">
          <i class="bi bi-currency-dollar"></i>
          <span class="fw-light">{{ convertPrice(tour.price) | currency: getCurrencyCode() }}</span>
        </div>

        <div class="tour__tilesTile" [ngClass]="{'low-seats': (tour.maxPeople - cumulativeBookedSeats()) <= 3}">
          <i class="bi bi-person-fill"></i>
          <span class="fw-light">{{ tour.maxPeople - cumulativeBookedSeats() }} / {{tour.maxPeople}}</span>
        </div>
      </div>
    </div>



    <hr />

    <div class="d-flex justify-content-center gap-4 align-items-center">
      <button class="btn btn-danger" *ngIf="getUser() != null && getUser().isAdmin" (click)="deleteTour()">
        <i class="bi bi-trash-fill"></i>
      </button>

      <a class="btn bg-custom-dark btn-secondary fs-large" [routerLink]="['/tours', tour.id]">
        <i class="bi bi-info-circle"></i>
      </a>

      <div *ngIf="cumulativeBookedSeats() === tour.maxPeople; then noSeatsMsg">
      </div>

    </div>

    <ng-template #noSeatsMsg>
      <div class="tour__soldBadge p-3 badge bg-danger position-absolute">
        <span class="m-0 p-0">Sold out!</span>
      </div>
    </ng-template>
  </div>
</div>
