<app-menu></app-menu>

<div class="container-fluid">
  <a class="btn btn-primary" routerLink="/tours" routerLinkActive="active">
    <i class="bi bi-caret-left-fill"></i>
    <span>Back</span>
  </a>
</div>

<div class="container mt-5">
  <div class="row mb-5">
    <div class="col-12 col-lg-6 order-2 order-lg-1">
      <div *ngIf="tourDetail != undefined" class="d-flex justify-content-center align-items-center">
        <ngb-carousel id="imagesCarousel" class="carousel slide w-75">
          <ng-template ngbSlide *ngFor="let image of tourDetail.images, index as i">
            <img [src]="image" class="d-block w-100" [ngClass]="{'active': i == 0}">
          </ng-template>

          <button class="carousel-control-prev" type="button" data-bs-target="#imagesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#imagesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </ngb-carousel>
      </div>

      <div *ngIf="tourDetail == undefined" class="d-flex justify-content-center align-items-center">
        <div class="w-75">
          <img [src]="tour.image" class="d-block w-100" />
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 order-1 order-lg-2 p-5 p-lg-0">
      <h1 class="fw-light text-center mb-3">{{tour.name}}</h1>

      <p *ngIf="tourDetail != undefined">{{tourDetail.description}}</p>

      <p *ngIf="tourDetail == undefined">{{tour.description}}</p>

      <div class="tour__tiles mt-3 mt-4 d-flex gap-3 justify-content-around flex-column">

        <div>
          <div class="tour__tilesTile">
            <i class="bi bi-airplane-fill"></i>
            <span class="fw-light">{{ tour.targetCountry | uppercase }}</span>
          </div>

          <div class="tour__tilesTile">
            <i class="bi bi-calendar-event"></i>
            <span class="fw-light">{{ tour.startDate }} - {{ tour.endDate }}</span>
          </div>

          <div class="tour__tilesTile">
            <i class="bi bi-currency-dollar"></i>
            <span class="fw-light">{{ convertPrice(tour.price) | currency: getCurrencyCode() }}</span>
          </div>

          <div class="tour__tilesTile">
            <i class="bi bi-person-fill"></i>
            <span class="fw-light">{{ tour.maxPeople - cumulativeBookedSeats() }} / {{tour.maxPeople}}</span>
          </div>
        </div>
      </div>

      <div class="mt-3 d-flex justify-content-around align-items-center">
        <div class="w-25">
          <app-booking [tour]="tour"></app-booking>
        </div>
        <div>
          <app-rating (rated)="rateTour($event)" [current]="currentRating()" [average]="averageRating()"
            [numberOfRatings]="numberOfRatings()"></app-rating>
        </div>
      </div>


      <div *ngIf="cumulativeBookedSeats() == tour.maxPeople" class="mt-1">
        <p class="text-danger text-center">
          This tour is sold out!
        </p>
      </div>
    </div>
  </div>

  <hr class="mt-3">

  <div class="row my-5">

    <div class="col-12 col-lg-6">
      <div class="container-fluid d-flex justify-content-center">
        <div *ngIf="mapsLoaded">
          <google-map [center]="center" [zoom]="zoom" width="480px" height="400px"></google-map>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-5 d-flex justify-content-center">


      <div class="mt-3 p-3 w-100">
        <h3 class="fw-light">Add new opinion</h3>

        <form [formGroup]="opinionForm" (ngSubmit)="submitOpinion()">
          <div class="mb-3">
            <label for="name" class="form-label">Topic</label>
            <input type="text" class="form-control" id="opinionFormName" formControlName="name" required>
            <span class="text-danger">{{this.formErrors.topicLength}}</span>
          </div>
          <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea class="form-control" id="opinionFormComment" formControlName="comment" required></textarea>
            <span class="text-danger">{{this.formErrors.commentLength}}</span>
          </div>
          <div class="mb-3">
            <label for="opinionFormName" class="form-label">Bought this trip at <small>(optional)</small></label>
            <input type="date" class="form-control" id="opinionFormDate" formControlName="dateBought">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

    </div>
  </div>

  <hr>

  <div class="row mb-5">
    <div class="col-12">
      <div *ngFor="let opinion of getOpinions()">
        <div class="mt-4">
          <app-opinion [opinion]="opinion"></app-opinion>
        </div>
      </div>
    </div>
  </div>

</div>
